<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Weather view</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/894c362582.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<div class="fluid-container">
  <div class="row justify-content-between header-row">
    <div th:replace="header :: main-page-return"></div>
    <div th:replace="header :: ${userSession == null} ? 'unauthorized-header' : 'authorized-header'"></div>
  </div>
  <div class="row">
    <h2 class="text-dark text-center">Поиск по локации</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <form method="GET" th:action="@{/search}" class="justify-content-center align-items-center mt-0 d-flex">
        <input type="text" name="location-name-search" class="col-8" required>
        <button class="btn btn-dark col-2">Поиск <i class="fa fa-light fa-magnifying-glass white-icon"></i></button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-8 d-flex flex-wrap mainPage-weather-area">
      <div class="col-4 justify-content-center mainPage-weather mb-2" th:each="weather : ${weathers}">
        <div class="justify-content-end d-flex">
          <p class="col-10 mb-0 fs-3 fw-bold text-center" th:text="${weather.location.name + ', ' + weather.country}"></p>
          <form class="col-1" method="POST" th:action="@{/}">
            <input name="location-id" th:value="${weather.location.id}" hidden>
            <button class="text-danger bg-transparent border-0 fs-3">X</button>
          </form>
        </div>
        <div class="justify-content-center d-flex">
          <p class="col-10 mb-0 text-center" th:text="${weather.currentLocalDateTime}"></p>
        </div>
        <div class="justify-content-center align-items-center d-flex">
          <div class="col-5 justify-content-center d-flex">
            <img class="col-4 mainPage-weather-icon" th:src="@{'https://openweathermap.org/img/wn/' + ${weather.icon} + '@4x.png'}">
          </div>
         <div class="col-7">
           <p class="col-12 mb-0 fs-3 fw-bold text-center" th:text="${weather.temp + '°C'}"></p>
           <p class="col-12 mb-0 text-center" th:text="${'ощущается как ' + weather.feels_like + '°C'}"></p>
         </div>
        </div>
        <div class="text-center fw-bold" th:text="${weather.description}"></div>
        <div class="justify-content-center align-items-center d-flex" >
          <i class="fa fa-solid fa-temperature-low fa-fw red-icon"></i>
          <p class="mb-0" th:text="${weather.min_temp + '°C'}"></p>
          <i class="fa fa-solid fa-temperature-high fa-fw ms-1 red-icon"></i>
          <p class="mb-0" th:text="${weather.max_temp + '°C'}"></p>
        </div>
        <div class="justify-content-center align-items-center d-flex" >
          <i class="fa fa-solid fa-wind fa-fw gray-icon"></i>
          <p class="mb-0" th:text="${weather.windSpeed + 'м/с, ' + weather.windDirection}"></p>
        </div>
        <div class="justify-content-center align-items-center d-flex">
          <i class="fa fa-solid fa-droplet fa-fw blue-icon"></i>
          <p class="mb-0" th:text="${weather.humidity + '%'}"></p>
          <i class="fa fa-solid fa-circle-down fa-fw ms-1 black-icon"></i>
          <p class="mb-0" th:text="${weather.pressure + 'гПа'}"></p>
          <i class="fa fa-solid fa-binoculars fa-fw ms-1 black-icon"></i>
          <p class="mb-0" th:text="${weather.visibility + 'м'}"></p>
        </div>
        <div class="justify-content-center align-items-center d-flex">
          <i class="fa fa-solid fa-sun fa-fw yellow-icon"></i>
          <p class="mb-0" th:text="${weather.sunriseTime}"></p>
          <i class="fa fa-solid fa-sun fa-fw ms-1 orange-icon"></i>
          <p class="mb-0" th:text="${weather.sunsetTime}"></p>
        </div>
      </div>
  </div>
  </div>
</div>
</body>
</html>
