body {
    min-height: 100vh;
    background-image: linear-gradient(#00a1c7, #cbcbcb);
}

.header-row {
    background-color: #005873;
    height: 40px;
}

.header-button {
    height: 40px;
}

.mainPage-weather, .searchPage-result  {
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: black;
}

input {
    height: 38px;
}

.successfulRegistrationPage-main-area {
    margin-top: 55px;
}

.registrationPage-button-registration, .authorizationPage-button-authorization, .authorizationPage-link-area, .registrationPage-link-area, .registrationPage-messages-area, .authorizationPage-message-area, .successfulRegistrationPage-text-area, .searchPage-search-area{
    margin-top: 24px;
}

.registrationPage-ul, .authorizationPage-ul {
    margin-bottom: 0;
    list-style-type: none;
}

.registrationPage-ul ::before, .authorizationPage-ul ::before {
    content: "\2613";
}

.searchPage-result {
    height: 38px;
}

